@mixin fontstyles($font, $size, $weight , $lineheight, $letterspacing , $textaling , $color) {
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    line-height: $lineheight;
    letter-spacing: $letterspacing;
    text-align: $textaling;
    color: $color;
}
@mixin tab($breakpoint){
    @media screen and (min-width: $breakpoint){
        @content;
    }
}
@mixin desc($breakpoint){
    @media screen and (min-width: $breakpoint){
        @content;
    }
}
